/* ========================================
    BASE STYLES & RESET
   ======================================== */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
}

/* ========================================
    NAVBAR STYLES
   ======================================== */
nav {
    background-color: #0E1C4A;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

/* Navbar container */
.nav-container {
    display: flex;
    align-items: center;
    padding: 0px 50px 0px 30px;
    width: 100%;
}

/* Left side: FindMyBin + Logo */
.nav-logo {
    flex: 1;
}

/* Center: Main navigation links" */
.nav-menu {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    gap: 4rem;
    padding: 0;
    margin: 0;
}

.nav-item {
    transition: color 0.15s ease;
}

.nav-item:hover {
    color: #AECBFA;
}

/* Left: Search & Sign In*/
.nav-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
}

/* Navbar link styles */
.nav-link,
.nav-logo-link,
.nav-sign-in,
.nav-search {
    color: white;
    text-decoration: none;
}
