/* ========================================
    BASE STYLES & RESET
   ======================================== */

html, body, #root{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
}

.app-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* ========================================
    NAVBAR STYLES
   ======================================== */
nav {
    background-color: #0E1C4A;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

/* Navbar Container */
.nav-container {
    display: flex;
    align-items: center;
    padding: 0px 50px 0px 30px;
    width: 100%;
}

/* Left side: FindMyBin + Logo */
.nav-logo {
    flex: 1;
}

/* Center: Main Navigation Links" */
.nav-menu {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    gap: 4rem;
    padding: 0;
    margin: 0;
}

.nav-link {
    transition: color 0.15s ease;
}

.nav-link:hover {
    color: #AECBFA;
}

/* Left: Search & Sign In*/
.nav-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
}

/* Navbar Link Styles */
.nav-link,
.nav-logo-link,
.nav-sign-in,
.nav-search {
    color: white;
    text-decoration: none;
}

/* ========================================
    FOOTER STYLES
   ======================================== */

.footer {
    background-color: #0E1C4A;
    color: white;
		font-size: 0.9rem; 
    text-align: center;
    margin-top: auto;
		padding: 0.7rem;
}